<div>
  <button (click)="OAuthLoginGoogle()">Login (Google)</button>
  <button (click)="printAuthCodeGoogle()">Print User Info(Google)</button>
</div>
<hr>
<div>
  <button (click)="OAuthLoginFacebook()">Login (Facebook)</button>
  <button (click)="printAuthCodeFacebook()">Print User Info(Facebook)</button>
</div>
<hr>
<button (click)="testAll()">Test All Services</button>
<p>Note: This will not test File Upload Service. File upload must be tested by selecting a file from your local machine.</p>
<div>
  Failed Tests: {{errorCount}}
</div>
<br><br>
<hr>

<button class="loginButton" (click)="login()">Login</button>
<div class="login-response" [ngStyle]="{'color': loginResponse.color, 'width': '400px'}">
  {{loginResponse.message}}
</div>

<br>

<button class="logoutButton" (click)="logout()">Logout</button>
<div class="logout-response" [ngStyle]="{'color': logoutResponse.color, 'width': '400px'}">
  {{logoutResponse.message}}
</div>

<br>

<button class="getUserButton" (click)="getUser()">Get User</button>
<div class="get-user-response" [ngStyle]="{'color': getUserResponse.color, 'width': '400px'}">
  {{getUserResponse.message}}
</div>

<br>

<button class="getUsersButton" (click)="getUsers()">Get Users</button>
<div class="get-users-response" [ngStyle]="{'color': getUsersResponse.color, 'width': '400px'}">
  {{getUsersResponse.message}}
</div>

<br>

<button class="addUserButton" (click)="addUser()">Add User</button>
<div class="add-user-response" [ngStyle]="{'color': addUserResponse.color, 'width': '400px'}">
  {{addUserResponse.message}}
</div>

<br>

<button class="updateUserButton" (click)="updateUser()">Update User</button>
<div class="update-user-response" [ngStyle]="{'color': updateUserResponse.color, 'width': '400px'}">
  {{updateUserResponse.message}}
</div>

<br>

<div class="file-uploader">
  <input type="file" (change)="change($event)">
  <button class="uploadFileButton" type="button" (click)="uploadFile()" >Upload File</button>
</div>
<div class="file-upload-response" [ngStyle]="{'color': uploadResponse.color, 'width': '400px'}">
  {{uploadResponse.message}}
</div>

<br>

<button class="downloadFileButton" (click)="downloadFile()">Download File</button>
<div class="file-download-response" [ngStyle]="{'color': downloadResponse.color, 'width': '400px'}">
  {{downloadResponse.message}}
</div>

<br>

<button class="idleButton" (click)="idle()">Idle Service</button>
<div class="idle-service-response" [ngStyle]="{'color': idleResponse.color, 'wdith': '400px'}">
  {{idleResponse.message}}
</div>
